<header>
    <link rel="stylesheet" href="/css/nav-adm.css">
    <nav id="container">
        <div class="log"><img class="logo" src="/img/logo.png" alt=""></div>
        <div class="texto">
          
        </div>
        <ul>
        <li><a href="/login">Login Usuário </a></li>
        <li><a href="/loginlogista">Login Lojista</a></li>
        <li><a href="/cadastrousuario">Crie Sua Conta</a></li>
        <li class="selected"><a href="/">Minha Lojinha</a></li>
        <li><a href="/users">Crie Sua Lojinha</a></li>
        
    </ul>
    </div>
    </nav>
    </header>