<header>
   <link rel="stylesheet" href="/css/headerloja.css"> 
    <img class="logo" src="/img/logo.png" alt="Logo Empresa">
     <h1>Olá, Dona Sônia Lorenzonni! Bem-Vinda a sua lojinha!</h1>

      
          
      

<img class="pin" src="/img/pin.png" alt="localização">
           <span class="local">
           <p>Nova Venécia</p>
            <p>29830-000</p>
           <p>Estado:ES</p>
              </span>

       
           <img class="perfil" src="/img/perfil.png" alt="perf">
           <img class="menu" src="/img/perfil.png" alt="men">
       

      
  
</div>
</header>
