<header>
    <link rel="stylesheet" href="/css/nav-adm.css">
    <nav id="nav-adm">
        <div>
            <img src="/img/logo.png" alt="">
            
        </div>
        <ul>
            <li><a href="/pedidos">Login Usuário</a></li>
            <li><a href="/clientes">Login Lojista</a></li>
            <li class="selected"><a href="/adm">Crie Sua Conta</a></li>
            <li><a href="/users">Crie Sua Lojinha</a></li>
           
        </ul>
</nav>
</header>