<header>
    <nav id="#nav-adm">
    <link rel="stylesheet" href="/css/nav-adm.css">
    <div>
      <img class="logo" src="/img/logo.png" alt="">
        <span class="bv">
            bem vindos
        </span>
    </div>
 
    
  
        <ul>
        <li><a href="/login">Login Usuário </a></li>
        <li><a href="/loginlogista">Login Lojista</a></li>
        <li><a href="/cadastrousuario">Crie Sua Conta</a></li>
        <li class="selected"><a href="/">Minha Lojinha</a></li>
        <li><a href="/users">Crie Sua Lojinha</a></li>
        
    </ul>
  
    </nav>

</header>